.main_grid {
  max-width: 1100px;
  margin: 100px auto;
  .imgHolder {
    width: 100%;
    overflow: hidden;

    border-radius: 7px ;
    img {
      display: block;
      width: 100%;
    }
    .comment {
      margin: 5px 0;
      input {
        color: #706a6a;
      }
    }
  }
}
